.navbar {
    font-size: 0.875em;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.Home{
   color: #F1F1F1;
}

.events{
color: #F1F1F1;
}

.times{
    color: #F1F1F1;
}

.about{
    color: #F1F1F1;
}

.contact{
    color: #F1F1F1;
}

.logo {
margin-bottom: 
}

.learnmore {
    color: #FFF830;
}

.towers {
    padding-left: 15px;
    padding-top: 5%;
    margin-left: 15%;
/*    margin-right: 5%*/
/*
    width: 150%;
    height: 150%;
*/
}

.tower-left {
    margin-bottom: -50px;
}

.top-band{
    margin-right: -60%;
    margin-left: 10%;
    padding-bottom: 5%;
    padding-right: -80%;
/*
    width: 150%;
    height: 150%;
*/
}

body {
    background-color: #1C1C1C;
    
}

.tagline {
    color: #FFF830;
    margin-left: -15%;

}

.buy-button{
    color: #1C1C1C;
}
.featured {
    background-color: #1C1C1C;


}

.buy-link{
    margin-bottom: -10px;
    background-image: url(images/ticket-bg.png);
    background-size: contain;
    margin-right: 98%;
    font-family: oswald;
    padding-top: 2px;
    padding-left: 10px;
    margin-left: -15%;
}

.aboutbg {
    background-color: #1C1C1C;
    background-image: url(images/wave.png);
    background-size: cover;
    background-position: top;

}


.music-comp-index{
    background-image: url(images/wave.png);
    background-size: cover;
    margin-top: -5%;
    padding-bottom: 5%;
    background-position:center;
    padding-top: 15%;
}

.dots{
    border-top-style: dashed;
    border color: #F1F1F1;
    border width: 10px;
    margin-left: 12px;
    padding-right: 
}

.dots2a{
margin-left:-160px;
margin-top:14%;
color: #F1F1F1;
padding-right: 35px;
  
    
}

.true-dots2a{
    border-top-style: dashed;
border color: #F1F1F1;
border width:15px;
    margin-right: 5px;
    font-family: oswald;
    padding-top: 10px;
    padding-left: 5px;
}


.dots2b{
margin-right:-13%;
margin-top:3.5%;
    margin-left:-1%; 
    color: #F1F1F1;
    padding-left: -15px;
}


.true-dots2b{
    border-top-style: dashed;
border color: #F1F1F1;
border width: 10px;
    text-align: right;
margin-left: 20px;
    font-family: Oswald;
    padding-top: 10px;
    padding-right: 15px;
}


.more-music {
    margin-bottom: 5%;
    padding-top: 5%;

}

.spacey-section {
    padding-top: 50px;
}

.spacey-text {
    color: #F1F1F1;
  font-family: 'Lato', sans-serif;
}



.ocean-text {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;
}

.moremusichead {
    color: #59CEBB;
    font-family: Oswald;
    margin-bottom: -10%;
        margin-top: 5%;
}


.moremusichead-tick {
    color: #59CEBB;
    font-family: Oswald;
/*    margin-bottom: -10%;*/
        margin-top: 5%;
    text-align: center;
}


.oceanhead {
    color: #59CEBB;
    font-family: Oswald;

}

.spaceyhead {
    color: #59CEBB;
    font-family: Oswald;
    text-align: left;
    padding-left: 35px;
}

.whatsaroundbg {
    background-color: #403F3F;
    padding-bottom: 50px;
    padding-top: 2%;
}

.around-title {
    color: #DE5C8C;
/*    padding-bottom: 20px;*/
    font-family: Oswald;
    padding-right: 25%;
/*    padding-top: 15%;*/
    margin-top: 5%;
}

.aroundimg{
    margin-top: -7%;
}

.aroundtext {
    color: #F1F1F1;
    padding-left: 35%;
    padding-top: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 1.05em;
    padding-bottom: 5%;
    padding-right: 10%;
    font-size: 1.1em;
    line-height: 200%;
}

.history {
    background-image: url(images/historybanner_small.png);
    background-size: cover;
    text-align: right;
    padding: 50px;
    padding-bottom: 7%;
}


.history-title {
    color: #F1F1F1;
    font-family: Oswald;
}

.learnmore-one{
    font-family:  Oswald;
    padding-left: 75%;
    padding-bottom: -25%;
    color: #FFF830;
     font-weight: 500;
    text-decoration: underline;
     letter-spacing: .1em;

}

.history-text {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;
    font-size: 1.05em;
   
}

.history-texttwo {
      color: #F1F1F1;
    font-family: 'Lato', sans-serif;
     font-size: 1.05em;
    font-weight: 500;
}


.learnmore-two{
    font-family:  Oswald;
    padding-left: 75%;
    padding-bottom: -25%;
    color: #FFF830;
     font-weight: 500;
    text-decoration: underline;
    letter-spacing: .1em;
}



/*----ABOUT PAGE START----*/

.about-title {
    color: #DE5C8C;
    text-align: right;
    font-family: Oswald; 
    font-weight: 600;
    letter-spacing: .05em;
    padding-right: 30%;
    margin-top: 5%;
}

.foundation-title {
    color: #F1F1F1;
    font-family: Oswald;
     letter-spacing: .05em;
}


.foundation-section {
    padding-bottom: 7%;
   
}

.foundation-text-two{
    font-family: 'Lato', sans-serif;
     color: #F1F1F1;
    text-align: right;
    padding-right: 15%;
    padding-top: 13%;
    padding-left: -20%;
    margin-left: -10%;
    margin-right: -5%;
    font-size: 1.1em;
}

.vision-title {
    color: #F1F1F1;
    padding-left: 20%;
    font-family: Oswald;
    letter-spacing: .05em;
    color: #DE5C8C;

}

.vision-text {
    color: #F1F1F1;
    padding-left: 20%;
    padding-right: 10%;
    font-size: 1.05em;
    font-family:  font-family: 'Lato', sans-serif;
    padding-right: -5%;
    line-height: 150%;
}

.venue-info {
    padding-right: 30%;
    letter-spacing:.1em;
    line-height: 300%;
    padding-top: 7%;
    font-family:  font-family: 'Lato', sans-serif;
}

.venue-title {
    color: #F1F1F1;
    text-align: right;
    font-family: Oswald;
    /*    padding-right: 10px;*/
}

.vision-img{
    margin-left: -10%;
}
.vision-img-sm{
    float: right;
    display: none;
    padding-bottom: 5%;
}

.vision-link{
    color: #FFF830;
    text-decoration: underline
}

.venue-text {
    color: #F1F1F1;
    text-align: right;
/*        padding-right: 10px;*/
}

.free-entry {
    color: #DE5C8C;
    text-align: right;
    /*    padding-right: 10px;*/
}

.opening-hours {
    color: #DE5C8C;
    text-align: right;
}


.venue-map{
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}





/*----TICKETS PAGE START----*/



.featured-section {
    padding-bottom: 7%;
   
}

.music-comp{
    padding-left:8%;
    margin-right: 4%;
    padding-bottom: 5%;
    background-image: url(images/wave2.png);
    background-size: cover;
}

.tickettitlediv {
    padding-top: 50px;
    color: #59CEBB;
    margin-top: 2%;
    font-family: 'Oswald';
    letter-spacing: .1em;
}

.ticketinfo-section {
    line-height: 200%;
    font-size: 1.2em;
}

.img-tck-right {
    padding-bottom: 5%;
    padding-left: 20%;
}

.tickets-text {
    padding-top: -70px;
    margin-top: -25%;
    font-family: 'Lato', sans-serif;
}

.ticketblue {
    color: #59CEBB;
    font-family: 'Lato', sans-serif;
}

.ticketbluetwo {
    color: #59CEBB;
    text-align: right;
    font-family: 'Lato', sans-serif;
}

.tick-t-one {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;

}

.giz-title {
    margin-top: -17%;
}

.kinggiz-title {
    font-family: 'Righteous', cursive;
    color: #F1F1F1;
}

.band-summary {
    margin-left: 40%;
    font-family: 'Lato', sans-serif;
}

.tick-t-two {
    color: #F1F1F1;
    text-align: right;
    font-family: 'Lato', sans-serif;
}

.ticketbg {
    background-image: url(images/wave2.png);
    background-size: cover;
}

.more-music-two {
    margin-top: -10%;
    text-align: center;
}


.spacey-section-twoa {
    /* padding-left: 5%; */
    padding-right: -5%;
    width: 70%;
    float: left;
}

.dotsa{
    border-top-style: dashed;
    border color: #F1F1F1;
    border width: 10px;
 margin-right:5%;
    float:right;
    margin-top:-70%;
}


.dotsb{
    border-top-style: dashed;
    border color: #F1F1F1;
    border width: 10px;
    float: left;
    margin-top:75px;
    margin-left: 120%;

    
}


.moremusichead {
    text-align: center;
    padding-bottom: 5%;
}


.spacey-time {
    font-family: 'Oswald';
}

.ocean-time {
    font-family: 'Oswald';
    color: #F1F1F1;
    text-align: right;
}

.ocean-sold {
    font-family: 'Oswald';
    color: #FFF830;
}

.ocean-text-two {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;
    margin-top: -35px;
    margin-right: 35%;
    letter-spacing: .1em;
    line-height: 200%;
/*    margin-left: -20%;*/
    text-align: left;
    
}



.spacey-text-two {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;
    margin-top: -35px;
    margin-left: 20%;
    letter-spacing: .1em;
    line-height: 200%;
    margin-right: 15%;
    text-align: right;
}

.spacey-section-two {
    /*    padding-left: 5%;*/
    padding-right: -5%;
}

.spacey-section-twoa{
margin-left: 15%;    
    
}
.ocean-sect{
    
    padding-left: 7%;
}
.ocean-section-twob {
    margin-right: -15%;
    padding-bottom: -15%;
    padding-left: 15%;
}



.ocean-section-two {
    /*    padding-left: 7%;*/
    padding-bottom: -15%;
}

.space-time-ticket {
    margin-left: -2%;
    padding-top: 3%;
    text-align: left;
    color: #F1F1F1;
}

.ocean-time-ticket {
    margin-right: -30px;
    margin-left: -2%;
    padding-top: 3%;
    text-align: center;
    color: #F1F1F1;
    
}

.more-music-two {
    margin-bottom: 5%;
    padding-top: 5%;
}


.footer-section {
    background-color: #D1D1D1;
}

.footerdiv {
    background-color: #D1D1D1;
}


.footerone {
    padding: 15px;
    background-color: #D1D1D1;
}

.footertwo {
    text-align: right;
    color: #1C1C1C;
    background-color: #D1D1D1;
    font-family:  'Lato', sans-serif;
    font-weight: 500;
}








/*--media query--*/





}

@media screen and (max-width: 1376px){
    
/*    !!!ABOUT!!!*/
    .foundation-section {
    padding-left: 10%;
   
}
    .venue-info {
    padding-right: 30%;
    letter-spacing:.1em;
    line-height: 200%;
    padding-top: 7%;
    font-family:  font-family: 'Lato', sans-serif;
    
}
    
    .vision-text{
        margin-left: -10%;
    }
    
    .giz-title {
    margin-top: -17%;
        margin-left: -10%;
        margin-bottom: -10%;
}

    
    .band-summary {

        padding-right: 12%;
    font-family: 'Lato', sans-serif;
}

    
    .foundation-section {
    padding-bottom: 7%;
        padding-left: 15%;
   
}
        .about-title {
    color: #DE5C8C;
    text-align: right;
    font-family: Oswald; 
    font-weight: 600;
    letter-spacing: .05em;
    padding-right: 15%;
    margin-top: 5%;
}
    
}

@media screen and (max-width: 1200px) {
    
    
    
    
/*    !!!INDEX!!!*/

    .towers {
   padding-right: 25%;
    

}

    
    
    
    .whatsaroundbg {
    background-color: #403F3F;
    padding-bottom: 50px;
    padding-top: 2%;
}

.around-title {
    color: #DE5C8C;
/*    padding-bottom: 20px;*/
    font-family: Oswald;
    padding-right: 75%;
/*    padding-top: 15%;*/
    margin-top: 5%;
}

.aroundimg{
    margin-top: -27%;
    padding-left: 50%;
}

.aroundtext {
    color: #F1F1F1;
    padding-left: 5%;
    padding-top: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 1.05em;
    padding-bottom: 5%;
    padding-right: 60%;
    font-size: 1.1em;
    line-height: 200%;
}
    
    .learnmore-one{
        padding-right: 25%;
        margin-left: -2%;
/*        margin-bottom: 1;*/
        padding-left: 10%;
    }
    
    
    
    
    
    
    
    
    
    
/*    !!!TICKETS!!!*/
    
    .space-time-ticket {
        margin-right: -15%;
        margin-top: -87%;
    }
    
  .dots2a{
margin-left:-74px;
margin-top:17%;
color: #F1F1F1;
padding-right: 25px;
  
    
}

.true-dots2a{
    border-top-style: dashed;
border color: #F1F1F1;
border width:15px;
    margin-right: 5px;
    font-family: oswald;
    padding-top: 10px;
    padding-left: 5px;
}


.dots2b{
margin-right:-10%;
margin-top:3.5%;
    margin-left:2%; 
    color: #F1F1F1;
}


.true-dots2b{
    border-top-style: dashed;
border color: #F1F1F1;
border width: 10px;
    text-align: right;
margin-left: 15px;
    font-family: Oswald;
    padding-top: 10px;
    padding-right: px;
}
    /*    !!!!ABOUT PAGE!!!!*/

    .about-title {
    color: #DE5C8C;
    text-align: right;
    font-family: Oswald; 
    font-weight: 600;
    letter-spacing: .05em;
    padding-right: 10%;
    margin-top: 5%;
        padding-top: 70px;
        
}

.foundation-title {
    color: #F1F1F1;
    font-family: Oswald;
     letter-spacing: .05em;
}


.foundation-section {
    padding-bottom: 7%;
    padding-right: 5%;
   
}
 
    .foundation-text-two{
        padding-left: 15%;
        margin-top: -10%;
    }
    
    .vision-img{
        display: none;
    }
    
    .vision-img-sm{
        display: block;
        padding-right: 15%;
    }
    
    
    .vision-title {
        padding-left: 15%;


}
    
    .vision-text {
    color: #F1F1F1;
    padding-left: -5%;
    padding-right: 20%;
    font-size: 1.05em;
    font-family:  font-family: 'Lato', sans-serif;
    line-height: 150%;
        margin-left: -5%;
}
    
   

.venue-title {
    color: #F1F1F1;
    text-align: right;
    font-family: Oswald;
    padding-top: 
    /*    padding-right: 10px;*/
}

.vision-img{
    margin-left: -10%;
}
.vision-img-sm{
    float: right;
    padding-bottom: 5%;
}

.vision-link{
    color: #FFF830;
    text-decoration: underline
}

.venue-info {
    color: #F1F1F1;
    text-align: right;
    padding-right:20%;
   margin-top: -60%;
margin-left: 30%;
}

.free-entry {
    color: #DE5C8C;
    text-align: right;
    /*    padding-right: 10px;*/
}

.opening-hours {
    color: #DE5C8C;
    text-align: right;
}


.venue-map{
    padding-left: 5%;
    padding-top: 5%;


}
    
    
}
/*    !!!ABOUT!!!*/
    
    .about-title {
    color: #DE5C8C;
    text-align: right;
    font-family: Oswald; 
    font-weight: 600;
    letter-spacing: .05em;
    padding-right: 22%;
    margin-top: 5%;
}
    
    
      .venue-info {

    letter-spacing:.1em;
    line-height: 200%;
    padding-top: 7%;
          padding-bottom: 20%;
          margin-right: -10%;
    font-family:  font-family: 'Lato', sans-serif;
    
}
    

    .vision-title {
/*    padding-left: 20%;*/
    font-family: Oswald;
    letter-spacing: .05em;
    color: #DE5C8C;
    margin-left: -10%;

}
    
    
    .venue-map{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
    
    
    .vision-text {
    color: #F1F1F1;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.05em;
    font-family:  font-family: 'Lato', sans-serif;
    padding-right: -5%;
    line-height: 150%;
}
    
    
    
}



@media screen and (max-width: 1470px) {
    .venue-info{
        padding-right: 200px;
/*        margin-right: -10%;*/
    }
}




@media screen and (max-width: 1025px) {
    
/*    !!!ABOUT!!!*/
    .foundation-section{
        margin-right: -5%;
        padding-left: 5%;
    }
    
    .vision-text{
         margin-right: -5%;
        padding-left: 5%;
    }
    
    
    
    
    
/*    !!!TICKETS!!!*/
    
}



@media screen and (max-width: 991px){
    
/*    !!!INDEX!!!*/
    
    
    .buy-link{
margin-right: -5px;
}
    
    
    
    /*    !!!TICKETS!!!*/

    
    .band-img{
        padding-bottom: 10px;
padding-right: 5%;
        margin-left: 60%;
    }
    
    
}
    
    
    
    
    
    




@media screen and (max-width: 769px){
    
        .foundation-text-two{
/*            margin-left: 20%;*/
        padding-left: 20%;
/*        margin-top: -60%;*/
            padding-top: 5px;
    }
 
    .venue-map{
margin-top: 70%;
        padding-top: 30px;

}
    .venue-info {
   margin-top: -1100px;
        padding-bottom: 100%;
        padding-top: 5%;
}

    
    
    
    .dots2a{
margin-left:-295px;
margin-top:14%;
color: #F1F1F1;
padding-right: 65px;
  
    
}

.true-dots2a{
    border-top-style: dashed;
border color: #F1F1F1;
border width:15px;
    margin-right: 5px;
    font-family: oswald;
    padding-top: 10px;
    padding-left: 5px;
    text-align: left
}


.dots2b{
margin-right:-25%;
margin-top:3.5%;
    margin-left:-1%; 
    color: #F1F1F1;
    padding-left: -10px;
}


.true-dots2b{
margin-left: 210px;
    margin-right: -111px;
    padding-top: 10px;
    padding-right: 5px;
}
    
    
.ocean-sect{
margin-right: -40%;
    }
    
}



@media screen and (max-width: 500px){
    
        .foundation-text-two{
            margin-left: 10%;
        padding-left: 10%;
       
            padding-top: 5px;
    }
    
    
        .venue-info {
        line-height: 150%;
            margin-left: -5%;
            padding-bottom: 150%;
   
}
    
    
    
    
    
    
    whatsaroundbg {
    background-color: #403F3F;
    padding-bottom: 50px;
    padding-top: 2%;
}

.around-title {
    color: #DE5C8C;
/*    padding-bottom: 20px;*/
    font-family: Oswald;
    padding-right: 50%;
/*    padding-top: 15%;*/
    margin-top: 5%;
}

.aroundimg{
    margin-top: -40%;
    margin-left: -25%;
    float: right;
    z-index: 0;
}

.aroundtext {
    color: #F1F1F1;
    padding-left: 25%;
    padding-top: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 1.05em;
    padding-bottom: 25%;
    padding-right: 1%;
    font-size: 1.1em;
    line-height: 200%;
    z-index: 1;
    position: relative;
    margin-bottom: -10%;
    margin-left: -20%;
    margin-right: 20%;
    
}

.history {
    background-image: url(images/historybanner_small.png);
    background-size: cover;
    text-align: right;
    padding: 50px;
    padding-bottom: 7%;
}


.history-title {
    color: #F1F1F1;
    font-family: Oswald;
}

.learnmore-one{
    font-family:  Oswald;
    padding-left: 5%;
    margin-bottom: 15%;
    margin-top: -3%;
    color: #FFF830;
     font-weight: 500;
    text-decoration: underline;
     letter-spacing: .1em;
    position: absolute;
   

}

.history-text {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;
    font-size: 1.05em;
   
}

.history-texttwo {
      color: #F1F1F1;
    font-family: 'Lato', sans-serif;
     font-size: 1.05em;
    font-weight: 500;
}


.learnmore-two{
    font-family:  Oswald;
    padding-left: 75%;
    padding-bottom: -25%;
    color: #FFF830;
     font-weight: 500;
    text-decoration: underline;
    letter-spacing: .1em;
}
    
    
    
    
    
    
    
}