.navbar {
    font-size: 0.875em;
    margin-bottom: 0px;
}

.logo {
    padding-left: 30%;
}

.learnmore {
    color: #FFF830;
}

.towers {
    padding-left: 15px;
    padding-top: 5%;
}

.tower-left {
    margin-bottom: -50px;
}


body {
    background-color: #1C1C1C;
}

.tagline {
    color: #FFF830;

}


.featured {
    background-color: #1C1C1C;


}

.aboutbg {
    background-color: #1C1C1C;
    background-image: url(images/wave.png);
    background-size: cover;
    background-position: top;

}

.more-music {
    margin-bottom: 5%;
    padding-top: 5%;
}

.spacey-section {
    padding-top: 50px;
}

.spacey-text {
    color: #F1F1F1;
  font-family: 'Lato', sans-serif;
}

.ocean-text {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;
}

.moremusichead {
    color: #59CEBB;
    font-family: Oswald;
}

.oceanhead {
    color: #59CEBB;
    font-family: Oswald;

}

.spaceyhead {
    color: #59CEBB;
    font-family: Oswald;
}

.whatsaroundbg {
    background-color: #403F3F;
    padding-bottom: 50px;
}

.around-title {
    color: #DE5C8C;
/*    padding-bottom: 20px;*/
    font-family: Oswald;
    padding-right: 25%;
    padding-top: 15%;
}

.aroundimg{
    margin-top: -5%;
}

.aroundtext {
    color: #F1F1F1;
    padding-left: 50px;
    font-family: 'Lato', sans-serif;
}

.history {
    background-image: url(images/historybanner_small.png);
    background-size: cover;
    text-align: right;
    padding: 50px;
}


.history-title {
    color: #F1F1F1;
    font-family: Oswald;
}

.history-text {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;
}

.history-texttwo {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;
}


/*----ABOUT PAGE START----*/

.about-title {
    color: #DE5C8C;
    text-align: right;
    font-family: Oswald; 
    font-weight: 600;
    letter-spacing: .05em;
    padding-right: 34%;
    margin-top: 5%;
}

.foundation-title {
    color: #F1F1F1;
    font-family: Oswald;
     letter-spacing: .05em;
}


.foundation-section {
    padding-bottom: 7%;
   
}

.foundation-text-two{
    font-family: 'Lato', sans-serif;
     color: #F1F1F1;
    text-align: right;
    padding-right: 15%;
    padding-top: 13%;
    padding-left: -20%;
    margin-left: -10%;
    margin-right: -5%;
    font-size: 1.1em;
}

.vision-title {
    color: #F1F1F1;
    padding-left: 20%;
    font-family: Oswald;
    letter-spacing: .05em;
    color: #DE5C8C;

}

.vision-text {
    color: #F1F1F1;
    padding-left: 20%;
    padding-right: 10%;
    font-size: 1.05em;
    font-family:  font-family: 'Lato', sans-serif;
    padding-right: -5%;
}

.venue-info {
    padding-right: 30%;
    letter-spacing:.1em;
    line-height: 300%;
    padding-top: 7%;
    font-family:  font-family: 'Lato', sans-serif;
}

.venue-title {
    color: #F1F1F1;
    text-align: right;
    /*    padding-right: 10px;*/
}

.vision-img{
    margin-left: -10%;
}

.vision-link{
    color: #FFF830;
    text-decoration: underline
}

.venue-text {
    color: #F1F1F1;
    text-align: right;
    /*    padding-right: 10px;*/
}

.free-entry {
    color: #DE5C8C;
    text-align: right;
    /*    padding-right: 10px;*/
}

.opening-hours {
    color: #DE5C8C;
    text-align: right;
}


.venue-map{
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}





/*----TICKETS PAGE START----*/

.tickettitlediv {
    padding-top: 50px;
    color: #59CEBB;
    margin-top: 2%;
    font-family: 'Oswald';
    letter-spacing: .1em;
}

.ticketinfo-section {
    line-height: 200%;
    font-size: 1.2em;
}

.img-tck-right {
    padding-bottom: 5%;
    padding-left: 20%;
}

.tickets-text {
    padding-top: -70px;
    margin-top: -25%;
    font-family: 'Lato', sans-serif;
}

.ticketblue {
    color: #59CEBB;
    font-family: 'Lato', sans-serif;
}

.ticketbluetwo {
    color: #59CEBB;
    text-align: right;
    font-family: 'Lato', sans-serif;
}

.tick-t-one {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;

}

.giz-title {
    margin-top: -17%;
}

.kinggiz-title {
    font-family: 'Righteous', cursive;
    color: #F1F1F1;
}

.band-summary {
    margin-left: 40%;
    font-family: 'Lato', sans-serif;
}

.tick-t-two {
    color: #F1F1F1;
    text-align: right;
    font-family: 'Lato', sans-serif;
}

.ticketbg {
    background-image: url(images/wave2.png);
    background-size: cover;
}

.more-music-two {
    margin-top: -10%;
    text-align: center;
}

.spacey-text-two {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;
}

.moremusichead {
    text-align: center;
    padding-bottom: 5%;
}


.spacey-time {
    font-family: 'Oswald';
}

.ocean-time {
    font-family: 'Oswald';
    color: #F1F1F1;
    text-align: right;
}

.ocean-sold {
    font-family: 'Oswald';
    color: #FFF830;
}

.ocean-text-two {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;
    margin-top: -10%;
    margin-right: 25%;
    letter-spacing: .1em;
    line-height: 200%;
    margin-left: -15%;
}



.spacey-text-two {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;
    margin-top: -10%;
    margin-left: 25%;
    letter-spacing: .1em;
    line-height: 200%;
    margin-right: -15%;
}

.spacey-section-two {
    /*    padding-left: 5%;*/
    padding-right: -5%;
}

.ocean-section-two {
    /*    padding-left: 7%;*/
    padding-bottom: -15%;
}

.space-time-ticket {
    margin-left: -2%;
    padding-top: 7%;
    text-align: left;
    color: #F1F1F1;
}

.ocean-time-ticket {
    padding-top: 8%;
    margin-right: -2%;
    padding-bottom: -15%;
    text-align: right;
}


.more-music-two {
    margin-bottom: 5%;
    padding-top: 5%;
}


.footer-section {
    background-color: #D1D1D1;
}

.footerdiv {
    background-color: #D1D1D1;
}


.footerone {
    padding: 15px;
    background-color: #D1D1D1;
}

.footertwo {
    text-align: right;
    color: #F1F1F1;
    background-color: #D1D1D1;
}


/*--media query--*/



@media screen and (max-width: 1200px) {
    
    .img-tck-right {
padding-top: 2%;
    padding-left: 20%;
}
    
    .ticketinfo-section {
    line-height: 200%;
    font-size: 1.1 em;
       margin-top: -5%;
}
    
.ocean-text-two {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;
    margin-top: 0%;
    padding-right: 7%;
    letter-spacing: .1em;
    line-height: 200%;
    padding-left: 33%;
    text-align: left;
}



.spacey-text-two {
    color: #F1F1F1;
    font-family: 'Lato', sans-serif;
padding-top: 10%;
    margin-left: 25%;
    letter-spacing: .1em;
    line-height: 200%;
    margin-right: 18%;
    text-align: right;
}

    
    .ocean-time {
    font-family: 'Oswald';
    color: #F1F1F1;
    text-align: right;
        margin-bottom: -18%;
        padding-bottom: 50%;
}

.ocean-sold {
    font-family: 'Oswald';
    color: #FFF830;
}
    
    .ocean-section-two {
        padding-left: 45%;
    padding-bottom: -15%;
        margin-top: -60.5%;
   
        
}

    .spacey-section-two {
    /*    padding-left: 5%;*/
    padding-right:45%;
        padding-bottom: -20%;
}
    
    
}
